html{
    font-size: 100px;
}
body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
.wrapper{
    margin: 0 auto;
    width: 19.2rem;
   }
   /* HOME */
.home{
    height: 8rem;
    background: #515f67 url('images/kolosa.gif');
    background-blend-mode: luminosity; 
}
.bg-top-header{
    background: #353f46;
    height: 1.5rem;
    opacity: 0.85;
}
.top-header{
    margin: 0 auto;
    width: 11.8rem;
   }
h1{
    position: relative;
    top: 0.56rem;
    margin: 0;
    width: 20%;
    float: left;
    text-align: left;
    font-size: 0.30rem;
    color: #fff;

}
.href-home-nav{
    color:#fff;
    padding: 0.1rem 0.2rem;
}
.href-home-nav:hover{
    color: #4de;
    border: #4de solid 1px;
}
.navigation-top{
    position: relative;
    top: 0.61rem;
    margin: 0;
    width: 50%;
    float: right;
    text-align: right;
    font-size: 0.14rem;
    color: #fff;
}
.block-home{
    margin: 0 auto;
    width: 60%;
    position: relative;
    font-size: 0.42rem;
    text-align: center;
    top: 2.5rem;
}
.text-block-home{
    font-size: 0.42rem;
    line-height: 0.75rem;
    color: #fff;
    padding: 0.05rem;
    background: #353f46;
    opacity: 0.85;
    text-transform: uppercase;
}
/* SERVICES */
.bg-services{
    margin: 0;
    height: 4.05rem;
    background: #4bcaff;
}
.services{
    position: relative;
    /* height: 4.05rem; */
    margin: 0 auto;
    width: 11.8rem;
}
.services-zaglav { 
    position: absolute;
    margin: 0;
    width: 20%;
    text-align: left;
    color: #fff;
    font-size: 0.3rem;
    line-height: 0.24rem;
    font-weight: lighter;
    top: 0.8rem;

}
.img-services{
    position: absolute;
    top: 1.55rem;
}
.one-block-service{
    margin: 0;
    width: 25%;
    height: 100%;
    float: left;
}
h3{
    position: absolute;
    top:2.25rem;
    margin: 0;
    text-align: left;
    font-size: 0.24rem;
    font-weight: 600;
    color: #fff;
}
.text-services{
    position: relative;
    top:2.6rem;
    margin: 0 5% 0 0;
    text-align: left;
    font-size: 0.12rem;
    font-weight: 600;
    color: #fff;
    line-height: 0.18rem;
}
/* PORTFOLIO */
.bg-portfolio{
    margin: 0;
    height: 8rem;
    position: relative;
    
}
.portfolio-zaglav { 
    position: relative;
    margin: 0;
    width: 20%;
    text-align: left;
    color:#515f67;
    font-size: 0.3rem;
    line-height: 0.24rem;
    font-weight: lighter;
    top: 0.8rem;
}
.header-portfolio{
    height: 1.5rem;
    margin: 0 auto;
    width: 11.8rem;
}
.nav-header-portfolio{
    top: 0.5rem;
    margin: 0;
    position: relative;
    width: 50%;
    float: right;
    font-size: 0.32rem;
    text-align: right;
}
.href-portfolio{
    display: inline-block;
    font-size: 0.14rem;
    line-height: 0.24rem;
    margin-left:   0.35rem;
    padding: 0.1rem;
  
}
.href-portfolio:hover{
    color: #4de;
    border: #4de solid 1px;
}
.portfolio{
    margin: 0 auto;
    width: 11.8rem;
}
.images-portfolio{
    background: #030d14;
    width: 2.7rem;
    height: 2.7rem;
    float:left;
    margin-right: 0.33rem;
    margin-top: 0.33rem;
}
.images-portfolio:hover{
    opacity: 0.99;

}
/* JUST DEFAULT SECTION */
.just-default-bg{
    margin: 0;
    height: 4.7rem;
    background: #515f67;
}
.just-default{
    position: relative;
    margin: 0 auto;
    width: 11.8rem;
}
.left-just-default{
    float: left;
    width: 50%;
}
.just-default-zaglav { 
    position: absolute;
    margin: 0;
    width: 30%;
    text-align: left;
    color: #fff;
    font-size: 0.3rem;
    line-height: 0.24rem;
    font-weight: lighter;
    top: 0.8rem;
}
.text-just-default{
    width: 78%;
    position: relative;
    top: 1.1rem;
    font-size: 0.14rem;
    line-height: 0.24rem;
    color: #fff;
}
.link-just-default{
    position: relative;
    top: 0.5rem;
    font-size: 0.14rem;
    line-height: 0.24rem;
    color: #353f46;
    padding: 0.1rem;
    border: #353f46 solid 2px;
}
.link-just-default:hover{
    color: #fff;
    border:#fff solid 2px;
}
.video-just-default{
    float: right;
    position: relative;
    top: 0.5rem;
}
/* TWIITTER */
.bg-twitter{
    margin: 0;
    height: 3.05rem;
    background: #4bcaff;
}
.twitter{
    position: relative;
    margin: 0 auto;
    width: 11.8rem;
}
.zaglav-twitter{
    position: absolute;
    margin: 0;
    width: 30%;
    text-align: left;
    color: #fff;
    font-size: 0.3rem;
    line-height: 0.24rem;
    font-weight: lighter;
    top: 0.8rem;
}
.images-twitter{
    position: relative;
    float: right;
    top: 0.8rem;
}
.text-twitter{
    margin: 0;
    position: relative;
    top: 1.5rem;
    font-size: 0.28rem;
    line-height: 0.5rem;
    color: #fff;

}
/* WHO IS JOHN DOE */
.bg-who-is{
    height: 5rem;
    background: #353f47  url('images/whoIs.gif') center ;
    background-blend-mode: luminosity; 
}
.who-is{
    position: relative;
    margin: 0 auto;
    width: 11.8rem;
}
.zaglav-who-is{
    position: absolute;
    margin: 0;
    width: 30%;
    text-align: left;
    color: #fff;
    font-size: 0.3rem;
    line-height: 0.24rem;
    font-weight: lighter;
    top: 0.8rem;
}
.left-who-is{
    position: relative;
    margin: 0 auto;
    width: 47%;
    float: left;
}
.text-who-is{
    position: relative;
    font-size: 0.14rem;
    line-height: 0.24rem;
    color: #fff;
    top: 1.5rem;
 }
.right-who-is{
    position: relative;
    margin: 0 auto;
    width: 47%;
    float: right;
}
.block-images-who-is{
    position: relative;
    top: 1rem;
  }
.images-who-is{
    display: inline-block;
    padding: 0.1rem;
    border: #fff solid 2px;
    width: 28px;
    height: 29px;
}
/* TESTIMONIALS */
/* CONTACT */
/* FOTER */