html{
    font-size: 100px;
}
body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
.wrapper{
    margin: 0 auto;
    width: 19.2rem;
   }
.home{
    height: 8rem;
    background: #515f67 url('images/kolosa.gif');
    background-blend-mode: luminosity; 
}
.bg-top-header{
    background: #353f46;
    height: 1.5rem;
    opacity: 0.85;
}
.top-header{
    margin: 0 auto;
    width: 11.8rem;
   }
h1{
    position: relative;
    top: 0.56rem;
    margin: 0;
    width: 20%;
    float: left;
    text-align: left;
    font-size: 0.30rem;
    color: #fff;

}
.href-home-nav{
    color:#fff;
    padding: 0.1rem 0.2rem;
}
.href-home-nav:hover{
    color: #4de;
    border: #4de solid 1px;
}
.navigation-top{
    position: relative;
    top: 0.61rem;
    margin: 0;
    width: 50%;
    float: right;
    text-align: right;
    font-size: 0.14rem;
    color: #fff;
}
.block-home{
    margin: 0 auto;
    width: 50%;
    position: relative;
    font-size: 0.42rem;
    text-align: center;
    top: 2rem;
}
.text-block-home{
    font-size: 0.42rem;
    line-height: 0.75rem;
    color: #fff;
    padding: 0.05rem;
    background: #353f46;
    opacity: 0.85;
}
.bg-services{
    margin: 0;
    height: 4rem;
    background: #4de;
}
.services{
    height: 3.5rem;
    margin: 0 auto;
    width: 14.8rem;
    background: #000;
}
h2 { 
    position: relative;
    margin: 0;
    width: 20%;
    text-align: left;
    background: aliceblue;
    font-size: 0.32rem;

}
.one-block-service{
    margin: 0;
    width: 25%;
    height: 100%;
    background-color: darkgreen;
    float: left;
}
h3{
    margin: 0;
    width: 33%;
    text-align: left;
    background: blue;
    font-size: 0.32rem;
}
p{
    font-size: 0.16px;
    color: #000;
    height: 50%;
    background: aliceblue;
}
.bg-portfolio{
    margin: 0;
    height: 6rem;
    
}
/* .portfolio{
    height: 1.5rem;
    margin: 0 auto;
    width: 14.8rem;
    background: #e4e;
} */
.header-portfolio{
    height: 1.5rem;
    margin: 0 auto;
    width: 14.8rem;
    background: #e4e;
}
.nav-header-portfolio{
    margin: 0;
    position: relative;
    /* top: 0rem; */
    width: 50%;
    float: right;
    background: #3ff;
    font-size: 0.32rem;
    text-align: right;
}